body {
    margin: 0;
    padding: 0;
}
.pilihan{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 20px;
    width: 100%;
}
.pilihan a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 20px;
}
.banner2{
    height: 100%;
    display:flex;
    justify-content:end; 
    align-items:center;
    width: 100%;
    flex-direction:column; 
    background-image: url('../img/sunset2.jpg');
    height:100vmax;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.judul{
    justify-content: center;
    display: flex;
    align-items:center;
    width: 100%;
    flex-direction: column;
    color:white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.400),rgba(0, 0, 0, 0.400));
}
.navbar {
    width: 100%;
    background-color:rgba(0, 0, 0, 0.797);
    height: 65px;
}
.active{
    background-color: black;
    color: white!important;
    padding: 10px 10px;
    border-radius:20px;
}